body{
  
    text-align: center;
    font-family: verdana;
    background-image: url(/imagenes/Blanco.jpg);
    font-size: x-large;
}
table{
    width: 70%;
}    
h1{
    color: #34495E;
}
p{
    color: #515A5A;
    font-family: verdana;
    font-weight: bold;
}
td{
    color: #515A5A;
    font-family: initial;
}


